$font: Arial, Helvetica, sans-serif;
$background-color: #d8eaf2;
$header-font-color: #3a5377;
$overdue-color: #cf2e2e;
$pending-color: #4173ba;
$completed-color: #5dcd5d;

$font-size-title: 16px;
$font-size-date: 12px;
$padding-task-item: 10px;
$border-radius: 15px;
