body {
  display: flex;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  margin: auto;
  width: 900px;
  height: 300px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 100%;
}

#blue {
  background-color: lightblue;
}

#orange {
  background-color: orange;
}

#pink {
  background-color: pink;
}
