body {
  width: 1000px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: orange;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 18px;
  color: green;
}

p {
  text-align: right;
}

div {
  border: 2px solid black;
  p {
    text-align: left;
    margin: 0;
    padding-left: 50px;
    font-weight: bold;
  }
  :first-child {
    font-style: italic;
    text-decoration: underline;
  }
}
