@use "./scss/variables" as v;
@use "./scss/mixins" as m;

* {
  box-sizing: border-box;
}

body {
  @include m.full-width-section;
}

nav {
  @include m.full-width-section(10vh);
  @include m.horizontal-padding;
  @include m.flex-between;
  background-color: white;

  .fa-solid {
    @include m.icon(2em, v.$orange);
  }
}

.banner {
  display: flex;
  @include m.full-width-section(90vh);

  .right {
    height: 100%;
    width: 50%;
    background: {
      image: url("./images/hero_image.jpg");
      size: cover;
      position: center center;
      repeat: no-repeat;
    }
  }

  .left {
    height: 100%;
    width: 50%;
    background-color: v.$green;
    @include m.flex-center(column);
    align-items: flex-start;
    padding: 0 3em;
    gap: 15px;
  }

  .banner-title {
    @include m.banner-title(white);
    margin: 0;
    text-align: left;
    width: 80%;
  }

  .banner-sub-title {
    @include m.font-open-sans($weight: 300);
    margin-top: 0;
    text-align: left;
    color: white;
    font-size: 22px;
  }

  .banner-btn button {
    all: unset;
    @include m.font-open-sans($weight: 600);
    color: white;
    border: 2px solid white;
    padding: 10px 30px;
    font-size: 16px;
  }
}

.nav-icon {
  width: min-content;
}

.nav-links {
  @include m.font-open-sans($weight: 700);
  @include m.flex-center;
  gap: 50px;
  font-size: 1em;
  color: v.$black;
}

.menu {
  @include m.flex-center(column);
  padding: 15px;

  .banner-title {
    @include m.banner-title(v.$orange);
  }
}

.reviews {
  @include m.full-width-section(80vh);
  @include m.flex-center(column);
  padding: 50px 0;
  background-color: v.$orange;

  .banner-title {
    @include m.banner-title(white);
  }

  .review {
    @include m.font-open-sans($weight: 700, $style: italic);
    padding: 10px 50px;
    border: 2px solid white;
    width: 40%;
    font-size: 16px;
    color: v.$black;
  }

  .review-container {
    @include m.flex-center;
    width: 80%;
    flex-wrap: wrap;
    gap: 15px;
  }

  .review-info {
    @include m.font-open-sans($weight: 400);
    @include m.flex-between;
    font-size: 14px;
  }

  .quotes {
    padding: 10px;
    font-size: 22px;
  }
}

footer {
  @include m.font-open-sans($weight: 400);
  @include m.horizontal-padding(4.5em, 4.5em);
  @include m.full-width-section(10vh);
  @include m.flex-between;
  background-color: v.$pale-green;

  .fa-solid {
    @include m.icon(1.75em, white);
  }

  .footer-left {
    @include m.flex-center;
    gap: 10px;
    color: white;
    font-size: 16px;
    height: 100%;
  }

  .fa-brands {
    @include m.icon(1.75em, white);
  }
}
