@mixin flag-layout($flex-direction, $color1, $color2, $color3) {
  main {
    flex-direction: $flex-direction;
  }

  @include flag-color($color1, $color2, $color3);

  .one,
  .two,
  .three {
    @if $flex-direction == column {
      width: 100%;
      height: 33.33%;
    } @else {
      width: 33.33%;
      height: 100%;
    }
  }
}

@mixin flag-color($color1, $color2, $color3) {
  .one {
    background-color: $color1;
  }
  .two {
    background-color: $color2;
  }
  .three {
    background-color: $color3;
  }
}
